{% extends "layout.html" %}
{% block content %}
<section class="page-add">
    <div class="container" style="text-align: center;">
        <div class="row" style="margin-top: 10%;">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <h2 style="color: #fd045c;">About Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-section">
    <div class="container">        
        <div class="row">
            <div class="col-lg-12">
                
                <div class="product-content">
                    <h2>Covero
                        <small class="text-muted">Essentials</small>
                    </h2>
                    <a></a>
                    <hr/>
                    <h6><q>Namaste, Bonjour, Anneyonghaseyo! Welcome to Covero Palette! Glad you want to know about us :D</q></h6>
                    <p class="blockquote">I bet there was a time in your life when you were thinking “Ah…I wish I could find a good t-shirt that said ‘Keep Calm and Shop at Covero Palette’. ”, ..No? Just me? 

                        Alright FINE but you have to agree if you are here, you definitely are looking for the design you desire which will make you and your aesthetic feel complete. Well, Say no more! We at Covero Palette aspire to make this wish of yours come true ;)
                        
                        Covero Palette is a Fashion and Lifestyle Custom Apparel Store showcasing youthful, chic, and trendy designs for your everyday fashion, comfort, and lifestyle. And guess what??? We are based proudly in India! *Celebration emoji*</p>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}